.non-trovato{
    background-image:url(../../../assets/img/189985235_453c2e61-9fd8-4549-a12d-34bdeebd9139.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}