<div class="container p-2 bg-black text-center p-4 border-top">
    <!--Grid row-->
    <div class="row d-flex col-12">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white-50">FAQ</h5>

            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#" class="text-white-50">Privacy</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">Informativa sui cookie</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">About us</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white-50 mb-0">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-white-50">Link 1</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">Link 2</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">Link 3</a>
                </li>
            </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white-50 mb-0">FAQ</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-white-50">Link 1</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">Link 2</a>
                </li>
                <li>
                    <a href="#" class="text-white-50">Link 3</a>
                </li>
            </ul>
        </div>

    </div>
    <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center text-white-50 p-3">
    © 2024 Copyright:
    <a class="text-white-50" href="https://manueldisabatino.it/">manueldisabatino.it</a>
</div>
<!-- Copyright -->
