$navColorReg:rgb(0,0,0);
$NavColor:rgba(26, 24, 24, 1);//colore di background della navbar
$navBorderBottom:1px solid gray; //Bordo della navbar

$HColor:rgb(255, 0, 255) !important; //Colore dei navLink
$formBorder:solid 2px rgba(128, 0, 128, 0.5) !important;//bordo dei form
$buttonBC:rgb(128,0,128, .9) !important;//backgroun color dei button e header della modal
$borderBut:solid 2px purple !important;//bordo dei button
$buttonHover:rgb(192, 13, 192) !important;//colore di background sull hover dei buttun
$buttonCol:black !important;//colore del testo su hover dei button
$formBG:rgba(3, 3, 3, 0.7) !important;//background color dei form di registrazione e login
$formSelect_gestione:purple;

$inputBc:rgba(40, 38, 38, 0.9);//colori interno degli input